@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');


/*Definindo variáveis*/
:root{
    --color-font:#222222;
    --color-hover: #122ab2;
    --color-text: #a4a4a4;

}

/*Retirando configurações prévias dos Browsers e de algumas tags*/
*{
    margin: 0px;
    border: 0px;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: var(--color-font)
}

img{
    display: block;
    max-width: 100%; /*As imagens se tornam responsivas assim! Eu diminuo a tela, ela diminui tb!
    To garantindo aqui maximo tamanho dela e redução do seu tamanho mantendo qualidade em outras telas menores.*/
}

/*Estilizando Superinfo*/
/* .superinfo-bg{
   background-color: var(--color-hover);
   color:white;
} */

.superinfo {
     /*Coloquei o tamanho máximo da caixa que quero */
    /*Alinhei ao centro*/
    display: flex;/*Transformei os filhos em flex-itens*/
    justify-content: space-between;/*Distribui todos os filhos com espaçamento entre eles iguais*/
    flex-wrap: wrap; /*Ao diminuir a tela os elementos estão se amontoando. Quero que eles quebrem para a próxima linha.*/
    padding: 10px calc((100% - 960px)/2);
    padding-top: 10px; /*Descer um pouco em relação ao topo*/
    color: white;
    background-color: var(--color-hover);
}
.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;/* Ao quebrar ele dá uns espaçamentos legais na esquerda, direita e embaixo*/
}

.superinfo a{
    color: white;
}

/*Estilizando meu MENU*/


.menu{

    display: flex;
    flex-wrap: wrap;

    align-items: center;/*Alinhando logo e menu de nav ao centro*/
    justify-content: space-between;
    padding: 15px calc((100% - 960px)/2);/*Faz o cálculo para mim e centraliza tudo conforme eu desejo*/
    background-color: #2c70ff;

}
.menu-logo a{
    color: white;
    font-weight: 700;
    font-size: 2.25em;
    padding: 0px 10px;
}

.menu nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu nav ul li a{
    color: white;
    display:block; /*Transformei o a em block para poder mexer no padding pra cima e para baixo dele*/
    padding: 10px;
    font-weight: 700;
    font-size: 1.25em;
}

.menu nav a:hover{
    color: var(--color-hover);
    transition: color 400ms;
}

/*Editando parte do título*/
.title{
    font-size: 3em;
    line-height: 1;
    font-weight: 700;

    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/*Editando parte do sobre*/
.about{
    display: flex;
    flex-wrap:wrap;
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid var(--color-hover);
    border-bottom: 2px solid var(--color-hover);

    padding: 60px 0;
}

.about-info{
    flex:2 1 300px; /*Definindo flex shrink de 1 e flex-basis de 300 para a quebra do conteúdo de texto quando a tela chegar nesse tamanho*/
    margin: 0 10px;
}

.about-info h2{
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p{
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.about-img-container{
    flex:1 1 160px;/*Quando a imagem chegar em 160px ela quebra para a proxima linha*/
    margin: 0 10px;
}

/*Editando parte dos Produtos*/

.products{

    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;

}

.products h2{
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.products-img-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.products-item{
    flex:1 1 175px;/*Ocupondo o meu container superior e quebrando quando a imagem for menor que 175px*/
    margin: 10px;
}

.products-item h3{ /*Criando o topo do meu card*/
    font-size: 3em;
    font-weight: 700;
    color: var(--color-text);
    background: #f7f7f7;

    padding: 60px 20px;
}

/*Bordinhas superiores*/
.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
}

.blue{
    border-top: 8px solid #66d9eb;
}

/*Parte dos preços*/

.pricing{

    background: #f7f7f7;
    padding: 60px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.price-item{
    flex: 1 1 260px;/*Definindo min width para navegadores em browsers. Sempre definir min width menor ou igual a 
    260px. Isso evita que crie um scroll lateral na tela do celular*/
    border: 4px solid white;
    border-radius:8px;
    padding: 20px;
    margin: 10px;
}

.price-item:hover{
    border: 4px solid silver;
    transition: 400ms;
}

.price-item h2{
    font-size: 3em;
    color: var(--color-text);
    text-align: center;
    margin-top: 20px;

}

.price-item span{
    display:block;
    max-width: 300px;
    margin: 20px auto;

    font-size: 3em;
    text-align: center;
    font-weight: 700;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.price-item sup{
    font-size: 1.5rem;
}

.price-item ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.price-item li{/*Fazendo com q as bolinhas fiquem alinhadas ao texto*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.price-item li::after{/*Pseudo-elemento que vem depois*/
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #2c70ff;

    border-radius: 50%;
}

/*Estilizando meu Botão*/
.price-item a{
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    border-radius: 8px;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

.price-item a:hover{
    border:4px solid #2c70ff;
    color: rgb(155, 147, 147);
    transition: 400ms;
}

/*Estilizando Qualidade*/
.quality{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 60px auto;
}

.quality-item{
    flex: 1 1 300px;/*300px é mais ou menos o tamanho do nosso layout (960px)*/
    margin: 20px 10px;
}

.quality-item h3{
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.quality-item h3::before{/*Pseudo-elemento que vem antes! Ele é imaginário, mas aparece*/
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;

}

.quality-item:nth-of-type(3n+1) h3::before{/*Gravar e entender melhor isso*/
    background: #ae81ff;
}

.quality-item:nth-of-type(3n+2) h3::before{/*Gravar e entender melhor isso*/
    background: #f9265e;
}

.quality-item:nth-of-type(3n+3) h3::before{/*Gravar e entender melhor isso*/
    background: #66d9eb;
}

.quality-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #777777;
}

/*Estilizando Newsletter*/

.newsletter{
    background: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2); /*Esse calc seria um auto do margin 
    O raciocínio é: tela inteira(100%) menos o tamanho máximo da pagina que quero, com resultado dividio por 2*/
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info{
    flex: 1 1 260px;
    margin: 0 10px;
}
.newsletter-info h2{
    font-size: 3em;
    color: #a4a4a4;
    
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.newsletter-form{
    flex: 2 1 300px;
    margin: 0 10px;
    display:flex;
    flex-wrap: wrap;
    align-self: center;
    
}

.newsletter-form input{
    flex: 3 1 300px;

    background: transparent;

    padding: 15px 50px;
    margin: 0px;
    border: 4px solid #2c70ff;
    border-radius: 0;

    font-size: 1.25em;
    font-family: "Nunito", Helvetica, Arial, sans-serif;

}

.newsletter-form button{
    flex: 1 1 200px;
    background: #2C70FF;

    padding: 15px 10px;
    font-size: 2.25em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

/*Estilizando o Footer*/
footer{
    display: flex;
    background: #2c70ff;
    height:200px;
    align-items: center;
}

footer p{
    flex: 1;
    text-align: center;
    font-size:2.25em;
    color: #122ab2;
}

/*Responsividade*/

@media (max-width: 800px){
    .pricing{
        padding-left:10px;
        padding-right: 10px;
    }
    .pricing .price-item:nth-child(3){/*Jogada de marketing! No celular 
        fazemos com q o plano mais caro seja exibido primeiro!!*/
        order:-2;
    }
    .pricing .price-item:nth-child(2){
        order:-1;/*E o mediano em segundo lugar*/
    } 
}

@media (max-width: 600px){
    .newsletter-form button{
        font-size: 1.5em;
    }
}